---
- name: deploy apache index.html apache_template
  ansible.builtin.template:
    src: index.html.j2
    dest: /var/www/html/index.html
    owner: apache
    group: apache
    mode: '0644'
  when: ansible_os_family == "RedHat"
  notify: restart apache