---
- name: Gather service facts
  service_facts:

- name: Allow HTTP service in firewalld (only if running)
  ansible.posix.firewalld:
    service: http
    permanent: yes
    state: enabled
    immediate: yes
  when:
    - "'firewalld.service' in ansible_facts.services"
    - ansible_facts.services['firewalld.service'].state == 'running'
