---
- name: Install MariaDB server packages
  ansible.builtin.dnf:
    name: "{{ db_pkg }}"
    state: present
  when: ansible_os_family == "RedHat"

- name: Ensure MariaDB service is running and enabled
  ansible.builtin.service:
    name: "{{ db_service_name }}"
    state: started
    enabled: yes
  when: ansible_os_family == "RedHat"

- name: install pymyql db_pkg
  ansible.builtin.pip:
    name: PyMySQL
  when: ansible_os_family == "RedHat"


- name: Remove anonymous MySQL users
  ansible.builtin.mysql_user:
    name: ''
    host_all: yes
    state: absent
    login_user: "{{ db_root_user }}"
    login_password: "{{ db_root_password }}"
  when: ansible_os_family == "RedHat"

- name: Disallow remote root login
  ansible.builtin.mysql_user:
    name: "{{ db_root_user }}"
    host: '%'
    state: absent
    login_user: "{{ db_root_user }}"
    login_password: "{{ db_root_password }}"
  when: ansible_os_family == "RedHat"


- name: Remove test database
  ansible.builtin.mysql_db:
    name: test
    state: absent
    login_user: "{{ db_root_user }}"
    login_password: "{{ db_root_password }}"
  when: ansible_os_family == "RedHat"


- name: Flush MySQL privileges
  ansible.builtin.mysql_user:
    name: "{{ db_root_user }}"
    host: localhost
    check_implicit_admin: yes
    state: present
    login_user: "{{ db_root_user }}"
    login_password: "{{ db_root_password }}"
  when: ansible_os_family == "RedHat"


